
form {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

}


input {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #f5c518;
  font-size: 16px;
}


button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #f5c518;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #f5c518;
}

a {
  margin-top: 15px;
  text-align: center;
  color: #f5c518;
  text-decoration: none;
  font-size: 14px;
  display: block;
}
