.booking-form-container {
  background-color: #000;
  color: #f5c518;
  padding: 50px 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.booking-form-container h2 {
  margin-bottom: 30px;
  color: #f5c518;
}

.booking-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.booking-form-container input {
  width: 300px;
  padding: 10px;
  border: 1px solid #f5c518;
  background-color: #111;
  color: #fff;
  border-radius: 8px;
}

.date-fields {
  /* display: flex; */
  gap: 15px;
}

.btn-submit {
  background-color: #f5c518;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: rgb(152, 234, 245);
}
