/* Background color */
.custom-nav {
  background: black;
}

/* Toggler Icon Orange */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.custom-toggler {
  border-color: #fff;
}

/* Orange Text */
.text-orange {
  color: #ff8c00;
}

/* Buttons */
.btn-orange {
  background-color: #ff8c00;
  color: white;
  border: none;
}

.btn-orange:hover {
  background-color: #e67c00;
}

.btn-yellow {
  background-color: #ffcc00;
  color: black;
  border: none;
}

.btn-yellow:hover {
  background-color: #e6b800;
}

/* Menu links hover */
.nav-link:hover {
  color: #fff !important;
  font-weight: bold;
}
