
.box1{
    height: 600px;
}

form {
    background-color: #fff;
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 40%;

}


form h2 {
    text-align: center;
    color: #f5c518;
    margin-bottom: 20px;
}


form input {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}


form button {
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #f5c518;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #f5c518;
}


form a {
    margin-top: 15px;
    text-align: center;
    color: #f5c518;
    text-decoration: none;
    font-size: 14px;
}
